.home_wrapper {
   /* height: 700px; */
    overflow: hidden;
}

.home_image {
    background-size: cover !important;
}

@media screen and (max-width: 1025px) {
    .home_image {
        margin-left: -150px ;
    }
} 

@media screen and (max-width: 768px) {
    .home_image {
        margin-left: -120px ;
    }
} 

@media only screen and (max-width: 376px){
    .home_image {
        margin-left: -120px ;
    }
}      